section.about
    .container.about__container
        .heading.about__heading
            p.heading__subtitle
                svg.heading__svg
                    use(xlink:href='img/sprite.svg#logo')
                |Who we are
            .heading__line
            h2.heading__title About us

        .about__content
            .about__item
                .about__img.about__img_1
                .about__txt
                    p.about__parag <strong>WOODIES</strong> is the <strong>home of modern wooden furniture</strong>
                    p.about__parag the answer to your need for furniture with shapes, sizes and colors.
            .about__item
                .about__img.about__img_2
                .about__txt
                    p.about__parag Customized furniture <strong>made just for you</strong>
                    p.about__parag Get it easy to adjust furniture to the shape and size of your dwelling or business.
