section.hero
    .container.hero__container
        .hero__txt
            p.hero__parag Are you looking for <strong>woodden furniture</strong> for your place?
            h1.hero__title This is the Right Place
            a.btn.hero__btn(href="#") Explore Furniture
        .hero__img